.card{
    width: 10rem;
    height: 6rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 10rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0 26px 6.5rem 26px;
}

.card span:nth-of-type(2){
    color: var(--gray);
    font-size: 14px;
}

.card>img{
    transform: scale(0.6);
    margin-top: -1.5rem;
    margin-bottom: -3rem;
}

@media screen and (max-width:480px){
    .card{
        width: 55vw;
        right: 3rem;
        left: -3rem;
    }

    .card>img{
        margin-top: 0.5rem;
        transform: scale(0.5);
    }
}