.contact-form{
    padding: 6rem 3rem 0 3rem;
    display: flex;
    height: 30vh;
    margin-top: 4rem;
    z-index: 100;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    border: 2px solid var(--orange);
    border-radius: 2rem;
    background: white;
    height: 50vh;
    margin-left: 10rem;
}

.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

textarea{
    height: 8rem!important;
    font-family: 'Inter', sans-serif;
}

.c-blur{
    top: 1rem;
    left: 8rem;
}

@media screen and (max-width:480px){
    .contact{
        display: flex;
        flex-direction: column;
    }

    .c-right{
        margin-left: 12em;
        background: none;
        border: none;
    }

    .s-leftside{
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .contact-form{
        height: 45rem;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:720px){
    .contact{
        display: flex;
        flex-direction: column;
    }

    .c-right{
        width: 80vw;
        left: -13.5rem;
    }

    .s-leftside{
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .contact-form{
        height: 45rem;
        width: 80vw;
        display: flex;
        flex-direction: column;
    }
}