.intro{
    display: flex;
    height: 77vh;
    padding-top: 8.5rem;
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(3){
    font-weight: 100;
    font-size: 18px;
    color: var(--gray);
    margin-top: 40px;
}

.i-button{
    width: 10rem;
    height: 2.5rem;
}

.i-icons{
    margin-top: 1rem;
    display: flex;
    gap: 0rem;
}

.i-icons>*{
    transform: scale(0.5);
}

.i-icons>*:hover{
    cursor: pointer;
}

.i-icons>a>img:hover{
    filter: invert(61%) sepia(59%) saturate(5429%) hue-rotate(161deg) brightness(95%) contrast(101%);
}

.i-right{
    flex: 1;
    position: relative;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(0.69);
    left: -15%;
    top: -20%;
}

.i-right>:nth-child(2){
    transform: scale(0.67);
    left: -3rem;
    top: -8rem;
}

.i-right>:nth-child(3){
    transform: scale(0.9);
    left: 9%;
    top: -3%;
}

.r-blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background-color: #edd0ff;
    filter: blur(65px);
    z-index: -9;
    top: -9%;
    left: 50%;
}

.l-blur{
    background: #C1F5FF;
    top: 17rem;
    width: 21rem;
    height: 11rem;
    left: -9rem;
    z-index: -9;
    filter: blur(65px);
}

@media screen and (max-width:480px){
    .intro{
      flex-direction: column;
      height: 64rem;
      gap: 7rem;
    }

    .i-right{
        transform: scale(0.8);
        left: -3rem;
    }

    .i-right .blur{
        display: none;
    }

    .floating-div:nth-of-type(1){
        top: -7rem!important;
    }
  }
    